* {
    padding: 0;
    margin: 0;
}
/* .fonts {
    font-family: "Libre Baskerville", serif;
    font-family: "Roboto", sans-serif;
} */
body {
    background-color: #0b1d26;
    overflow-x: hidden;
}
.cluods {
    position: absolute;
    z-index: -300;
    width: 100vw;
}
.cluods__img {
    width: 100%;
}
.rocks {
    position: absolute;
    z-index: -200;
    top: 350px;
    width: 100vw;
}
.rocks__img {
    width: 100%;
}
.ground {
    position: absolute;
    z-index: -100;
    top: 550px;
    width: 100vw;
}
.ground__img {
    width: 100%;
}

.content-bg {
    position: absolute;
    z-index: -50;
    top: 1100px;
    width: 100vw;
    transform: scaleY(1.5);
}
.content-bg-img {
    width: 100%;
}
.content {
    max-width: 1760px;
    margin: auto;
}
.bg-hero {
    position: absolute;
    z-index: -40;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        330.24deg,
        rgba(11, 29, 38, 0) 31.06%,
        #0b1d26 108.93%
    );
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}
.header__logo {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-family: "Libre Baskerville", serif;
    font-size: 24px;
}
.header__nav {
    display: flex;
}
.header__nav-item {
    list-style-type: none;
    margin: 0 34px;
}
.header__nav-item a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}
.header__img {
    width: 50px;
    display: block;
}

.start {
    margin-top: 130px;
    margin-bottom: 400px;
}
.start__content {
    max-width: 950px;
    margin: 0 auto;
}
.line-start {
    color: #fbd784;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    letter-spacing: 6px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 27px;
}
.line {
    color: #fbd784;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    letter-spacing: 6px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 27px;
    transform: translateY(15px);
    opacity: 0;
    transition: 500ms all linear;
}
.line-inner {
    width: 72px;
    height: 2px;
    background: #fbd784;
    margin-right: 32px;
}
.start__title {
    font-family: "Libre Baskerville", serif;
    text-transform: capitalize;
    color: #fff;
    font-size: 66px;
}
.start__scroll {
    font-family: "Roboto", sans-serif;
    margin-top: 15px;
    line-height: 0.5;
    padding: 0 15px;
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
}
.start__arrow {
    margin-left: 15px;
}
.section {
    display: flex;
    margin: 200px auto;
    justify-content: space-between;
    max-width: 1460px;
}
.section__content {
    position: relative;
    width: 780px;
    height: 542px;
}
.section__img {
    margin: 0 15px;
    opacity: 0;
    transform: scale(0.8) translateX(40px);
    transition: 800ms all linear;
}
.section__img img {
    width: 100%;
}
.section__content-num {
    position: absolute;
    left: 0;
    top: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 200px;
    color: #fff;
    transform: translateY(-15px);
    opacity: 0;
    transition: all 600ms linear;
}
.section__content-wrap {
    position: absolute;
    z-index: 20;
    right: 0;
    bottom: 0;
    max-width: 632px;
}
.section__title {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-size: 64px;
    color: #fff;
    max-width: 550px;
    transform: translateY(30px);
    padding: 0 15px;
    opacity: 0;
    transition: 700ms all linear;
}
.section__content-text {
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 18px;
    padding: 0 15px;
    margin: 27px 0;
    transform: translateY(30px);
    opacity: 0;
    transition: 700ms all linear;
}
.section__more {
    color: #fbd784;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    letter-spacing: 6px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 27px;
    transform: translateY(30px);
    opacity: 0;
    transition: 700ms all linear;
}
.section__more-img {
    margin-left: 15px;
}
.section_animated {
    opacity: 1;
    transform: translateY(0) translateX(0) scale(1);
}
.section_num-animated {
    opacity: 0.2;
    transform: translateX(0);
}
.revers {
    flex-direction: row-reverse;
}
.menu {
    position: fixed;
    z-index: 50;
    right: 80px;
    top: 50%;
    height: 240px;
    margin-top: -120px;
    width: 77px;
    background-color: rgba(0, 0, 0, 0.116);
}

.menu__list-item {
    position: relative;
    list-style-type: none;
    text-align: right;
    display: flex;
    align-items: center;
}

.menu__list-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    width: 77px;
    padding-right: 25px;
    padding-left: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    opacity: 0.5;
}
.menu__list-link::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 6px;
    height: 60px;
    background-color: #ffffff;
    opacity: 0.5;
    transition: opacity 500ms linear;
}
.clicked,
.clicked::after {
    opacity: 1;
}
.footer {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-family: "Roboto", sans-serif;
    margin-bottom: 120px;
}
.footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__copyright {
    opacity: 0.5;
}
.footer__title {
    margin-bottom: 8px;
}
.footer__title_yellow {
    color: #fbd784;
}
.footer__list-item {
    list-style-type: none;
    margin: 16px 0;
}
@media (max-width: 1700px) {
    .content-bg {
        top: 1000px;
    }
    .footer {
        padding: 0 15px;
    }
}
@media (max-width: 1500px) {
    .section__img {
        display: flex;
        align-items: center;
        width: 350px;
        margin: 0 15px;
    }
}
@media (max-width: 1200px) {
    .content-bg {
        top: 850px;
    }
    .start__title {
        font-size: 46px;
        max-width: 950px;
        padding: 0 15px;
    }
    .line {
        font-size: 16px;
    }
    .section__title {
        font-size: 46px;
    }
    .section__content-num {
        font-size: 180px;
    }
    .header {
        padding-right: 15px;
        padding-left: 15px;
    }
    .ground {
        top: 450px;
    }
    .section__content-text {
        padding: 0 15px;
    }
}
@media (max-width: 1150px) {
    .start {
        margin-top: 0px;
    }
    .content-bg {
        top: 500px;
        transform: scaleY(2);
    }
    .start__title {
        font-size: 32px;
    }
    .section__title {
        font-size: 32px;
    }
    .rocks {
        top: 180px;
    }
    .ground {
        top: 300px;
    }
}
@media (max-width: 860px) {
    .content-bg {
        top: 450px;
    }
    .footer {
        font-size: 0.8em;
        margin-bottom: 50px;
    }
}
@media (max-width: 670px) {
    .footer {
        flex-direction: column;
    }
    .footer__logo {
        max-width: 80%;
        margin: 15px;
    }
    .footer__blog {
        max-width: 80%;
        margin: 15px;
    }
    .footer__mtnt {
        max-width: 80%;
        margin: 15px;
    }
    .section {
        flex-direction: column;
        align-items: center;
    }
    .section__content {
        width: 80%;
    }
}
@media (max-width: 600px) {
    .ground {
        top: 270px;
    }
    .content-bg {
        top: 400px;
    }
    .header {
        padding: 30px 15px;
    }
    .header__nav-item {
        margin: 0 10px;
        font-size: 12px;
    }
}
@media (max-width: 600px) {
    .start__title,
    .section__title {
        font-size: 24px;
    }
}

@media (max-width: 510px) {
    .line-start {
        margin-bottom: 5px;
        font-size: 14px;
    }
    .rocks {
        top: 110px;
    }
    .ground {
        top: 200px;
    }
    .content-bg {
        transform: scaleY(2.5);
        top: 300px;
    }
    .header {
        padding: 15px;
    }
    .section__img {
        width: 220px;
    }
    .section__content-num {
        font-size: 100px;
    }
    .section__content {
        height: 450px;
    }
    .line {
        font-size: 14px;
    }
    .section__content-text {
        font-size: 14px;
    }
    .section__more {
        font-size: 12px;
    }
    .header__img {
        display: none;
    }

    .header {
        flex-direction: column;
        align-items: center;
        padding: 45px 15px;
    }
    .start__content {
        padding: 35px 15px;
    }
    .menu {
        right: 15px;
        background-color: rgba(0, 0, 0, 0.61);
    }
}

@media (max-width: 410px) {
    .ground {
        top: 180px;
    }
    .content-bg {
        top: 280px;
    }
    .menu {
        height: 180px;
        width: 65px;
    }
    .menu__list-link {
        height: 45px;
        font-size: 16px;
        padding-right: 20px;
        width: 65px;
    }
    .menu__list-link::after {
        height: 45px;
    }
}
@media (max-width: 360px) {
    .ground {
        top: 160px;
    }
    .content-bg {
        top: 240px;
    }
}

/* LOADER */

.loader__bg {
    position: fixed;
    z-index: 1500;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ade8f4;
}
.loadingio-spinner-interwind-40ns7rzsezn {
    position: fixed;
    z-index: 2000;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@keyframes ldio-a04mb7jxb4p-r {
    0%,
    100% {
        animation-timing-function: cubic-bezier(0.2 0 0.8 0.8);
    }
    50% {
        animation-timing-function: cubic-bezier(0.2 0.2 0.8 1);
    }
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes ldio-a04mb7jxb4p-s {
    0%,
    100% {
        animation-timing-function: cubic-bezier(0.2 0 0.8 0.8);
    }
    50% {
        animation-timing-function: cubic-bezier(0.2 0.2 0.8 1);
    }
    0% {
        transform: translate(-30px, -30px) scale(0);
    }
    50% {
        transform: translate(-30px, -30px) scale(1);
    }
    100% {
        transform: translate(-30px, -30px) scale(0);
    }
}
.ldio-a04mb7jxb4p > div {
    transform: translate(0px, -15px);
}
.ldio-a04mb7jxb4p > div > div {
    animation: ldio-a04mb7jxb4p-r 1s linear infinite;
    transform-origin: 100px 100px;
}
.ldio-a04mb7jxb4p > div > div > div {
    position: absolute;
    transform: translate(100px, 82px);
}
.ldio-a04mb7jxb4p > div > div > div > div {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #008fd4;
    animation: ldio-a04mb7jxb4p-s 1s linear infinite;
}
.ldio-a04mb7jxb4p > div > div:last-child {
    animation-delay: -0.5s;
}
.ldio-a04mb7jxb4p > div > div:last-child > div > div {
    animation-delay: -0.5s;
    background: #001f2d;
}
.loadingio-spinner-interwind-40ns7rzsezn {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
}
.ldio-a04mb7jxb4p {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-a04mb7jxb4p div {
    box-sizing: content-box;
}
